html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  background-color: #f2f1ed;
  margin: .5rem;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
  position: relative;
  overflow: hidden;
}

h1 {
  position: absolute;
  bottom: 3rem;
  left: 1rem;
  width: 25%;
}

nav {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 60%;
  font-size: 2rem;
  font-family: "Patua One", sans-serif;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

a {
  color: #fff;
}

h2 {
  font-family: "Patua One", sans-serif;
  margin-bottom: 0;
  color: #30658d;
}

p {
  margin-top: 0;
  color: #000;
}

main {
  display: grid;
  grid-template-areas:
    "box1 box2";
  gap: 1rem;
}

figure:first-child {
  margin: 1rem 0;
  grid-area: box1;
  margin-top: .5rem;
}

figure:last-child {
  margin: 1rem 0;
  grid-area: box2;
  margin-top: .5rem;
}
